@import url("./__column/services__column.css");
@import url("./__item/services__item.css");
@import url("./__list/services__list.css");
@import url("./__title/services__title.css");
@import url("./__two-columns/services__two-columns.css");

.services {
  padding-top: 400px;
  display: flex;
  justify-content: center;
}
