@import url("./__avatar/lead__avatar.css");
@import url("./__button/lead__button.css");
@import url("./__container/lead__container.css");
@import url("./__job/lead__job.css");
@import url("./__mafuyus/lead__mafuyus.css");
@import url("./__name/lead__name.css");
@import url("./__profile/lead__profile.css");

.lead {
  display: flex;
  justify-content: center;

  background-image: url("../../images/logo_flat.png");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position-x: calc(50% + 225px);
  background-position-y: 50px;
}
