@import url("./__container/portraits__container.css");
@import url("./__gallery/portraits__gallery.css");
@import url("./__img/portraits__img.css");

.portraits {
  min-height: 600px;
  display: flex;
  justify-content: center;
  background-color: white;
  position: relative;
}
