.header {
  display: flex;
  justify-content: center;
}

.header__container {
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  padding: 25px 0 10px;
}

.header__links {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: row;
}

.header__link {
  margin-right: 15px;
  color: white;
  text-decoration: none;

  font-size: 1.8rem;
  line-height: 1.4;
}

.header__link:hover {
  opacity: 0.8;
}
