.services__item {
  color: white;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

.services__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .services__item{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .services__item{
    font-size: 1.2rem;
  }
}
