.logo {
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 250px;
}

@media screen and (max-width: 900px) {
  .logo {
    height: 40px;
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 35px;
    width: 150px;
  }
}
