.lead__mafuyus {
  position: absolute;
  background-image: url("../../../images/mafuyus.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 30px;
  height: 500px;
  width: 450px;
  z-index: 20;
  bottom: 0;
}
