@import url("./__container/contact__container.css");
@import url("./__form/contact__form.css");
@import url("./__item/contact__item.css");
@import url("./__radio/contact__radio.css");
@import url("./__radio-group/contact__radio-group.css");
@import url("./__submit/contact__submit.css");
@import url("./__title/contact__title.css");

.contact {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  color: #222f3e;
}
