.lead__container {
  max-width: 1080px;
  min-height: 500px;
  width: 100%;
  display: flex;
  position: relative;
}

@media screen and (max-width: 751px) {
  .lead__container {
    min-height: 450px;
  }
}
